<div class="container-fluid p-4 text-light">
    <div class="row justify-content-center mb-4">
        <div class="col-md-6">
            <h1 class="">Your Cart</h1>
            <table class="table-responsive table table-primary table-sm " style="border-radius: 20px;overflow: hidden;">
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cartItem of cart">
                        <td>{{cartItem.product.productId}}</td>
                        <td>{{cartItem.product.name}}</td>
                        <td>{{cartItem.product.productCategory}}</td>
                        <td><input [(ngModel)]="cartItem.quantity" (change)="updateQuantity(cartItem, $event)"
                                class="form-control" type="number" name="quantity" id="quantity" /></td>
                        <td>{{ cartItem.product.price * cartItem.quantity }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">Total:</td>
                        <td>{{total}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-md-4 ">
            <h1 class="text-center">User Details</h1>
            <form class="p-3 rounded-3">
                <div class="form-group">
                    <label for="cId">Customer ID</label>
                    <input [(ngModel)]="customer.cid" type="number" min="1" class="form-control mb-2" id="cId" name="cId"
                        required>
                </div>
                <div class="form-group">
                    <label for="cName">Name</label>
                    <input [(ngModel)]="customer.cname" type="text" class="form-control mb-2" id="cName" name="cName"
                        required>
                </div>
                <div class="form-group">
                    <label for="cSurname">Surname</label>
                    <input [(ngModel)]="customer.csurname" type="text" class="form-control mb-2" id="cSurname"
                        name="cSurname">
                </div>
                <div class="form-group">
                    <label for="cEmail">Email</label>
                    <input [(ngModel)]="customer.cemail" type="email" class="form-control mb-2" id="cEmail" name="cEmail"
                        required>
                </div>
                <div class="form-group">
                    <label for="cPhone">Phone</label>
                    <input [(ngModel)]="customer.cphone" type="number" class="form-control mb-2" id="cPhone" name="cPhone"
                        required>
                </div>
                <div class="form-group">
                    <label for="cAddress">Address</label>
                    <input [(ngModel)]="customer.caddress" type="text" class="form-control mb-2" id="cAddress"
                        name="cAddress" required>
                </div>
                <button (click)="placeOrder()" class="btn btn-primary">Place Order</button>
            </form>
        </div>
    </div>
    <hr>
    <p class="text-center fs-1 ">Products</p>
    <div class="row justify-content-center mb-4">
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search products..." [(ngModel)]="searchTerm">
                <div class="input-group-append">
                    <button class="btn btn-outline-warning mx-2" type="button" (click)="searchProductsByCategory()">Search</button>
                    <button class="btn btn-outline-danger mx-2" type="button" (click)="resetFilter()">Reset</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let product of products" class="col-md-6 col-lg-3 mb-4">
            <div class="card h-100 d-flex flex-column border-warning rounded-5">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{product.productId}} {{product.name}}</h5>
                    <p class="card-text">Category: {{product.productCategory}}</p>
                    <p class="card-text">{{product.description}}</p>
                    <p class="card-text">Price: {{product.price}}</p>
                    <div class="mt-auto">
                        <button (click)="addToCart(product)" class="btn bg-warning px-4">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>