<div class="container-fluid p-3 text-light">
    <p class="text-center fs-1 text-decoration-underline">Pets in Store</p>
    <button class="btn btn-primary mb-2" routerLink="/admin/store">Back</button>
    <div class="row">
        <!-- Adjust the gutter and number of columns based on your design -->
        <div *ngFor="let pet of petsModel" class="col-sm-6 col-md-4 col-xl-3 mb-4">
            <!-- Use col-md-3 to make each card take up the space of 3 columns on medium screens and above -->
            <div class="card h-100 d-flex flex-column border-info">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ pet.petId }} {{ pet.name }}</h5>
                    <p class="card-text"><b>Breed:</b> {{ pet.breed }} ({{ pet.color }})</p>
                    <p class="card-text">{{ pet.description }}</p>
                    <p class="card-text">Price: {{ pet.price }}</p>
                    <p class="card-text">Listed on: {{ pet.dateOfListing }}</p>
                    <div class="mt-auto">
                        <button class="btn btn-outline-danger px-4" (click)="delete(pet.petId)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h2 class="text-center">Add New Pet</h2>
    <div class="row justify-content-center">
        <div class="card col-md-6 mx-1">
            <form class="card-body">
                Pet Name: <input class="form-control" type="text" name="name" [(ngModel)]="newPetModel.name"> <br>
                Pet Breed: <input class="form-control" type="text" name="breed" [(ngModel)]="newPetModel.breed"><br>
                Pet Color: <input class="form-control" type="text" name="color" [(ngModel)]="newPetModel.color"><br>
                Pet Category: <input class="form-control" type="text" name="category"
                    [(ngModel)]="newPetModel.category"> <br>
                Pet Description: <input class="form-control" type="text" name="description"
                    [(ngModel)]="newPetModel.description"> <br>
                Pet Price: <input class="form-control" type="number" name="price" [(ngModel)]="newPetModel.price"> <br>
                <button class="btn btn-success px-4" (click)="create()">Add</button>
            </form>
        </div>
    </div>
</div>