<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h2 class="card-title text-success fw-bold">Order Placed Successfully!</h2>
                    <p class="card-text fs-5">Thank you for your order. Your order has been successfully placed.</p>
                    <hr>
                    <p class="card-text fs-5">An email confirmation has been sent to your email address.</p>
                    <a routerLink="/store" class="btn btn-primary btn-lg">Continue Shopping</a>
                </div>
            </div>
        </div>
    </div>
</div>