<!-- order-confirmation.component.html -->
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="glassmorphic-container p-2">
        <h2 class="text-success fw-bold mb-4">Order Placed Successfully!</h2>
        <p class="fs-5 text-white">Congratulations! Your order has been successfully placed.</p>
        <p class="fs-5 text-white">An email confirmation has been sent to your inbox.</p>
        <hr class="my-4">
        <a routerLink="/store" class="btn btn-outline-success btn-lg me-3">Continue Shopping</a>
    </div>
</div>
