<div class="container-fluid py-1">
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="../../../assets/hero.png" alt="Pet Shop" class="img-fluid rounded-5" role="img"
                        aria-label="Pet Shop">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-4">Welcome to Pet Villa</h1>
                    <p class="fs-5">Looking for a furry friend? Or searching for pet goodies?</p>
                    <p class="fs-3">We are your one-stop solution.</p>
                    <p class="fs-6">At Pet Villa, we offer a wide range of products and services to cater to all your
                        pet's needs. Whether you're looking for premium pet food, toys, grooming supplies, or even
                        veterinary care, we've got you covered.
                    </p>
                    <p><span class="fs-1">Plus</span>, we have an adorable selection of pets looking for their forever homes, including dogs, cats, birds, and small animals. Our team of dedicated pet enthusiasts is here to help you find the perfect companion and provide the best care for all your furry friends.</p>
                    <div class="row">
                        <ul class="col-6">
                            <h4>Our Pets</h4>
                            <li>Dogs</li>
                            <li>Cats</li>
                            <li>Fish</li>
                            <li>Turtles</li>
                            <li>and lot more...🐱</li>
                        </ul>
                        <ul class="col-6">
                            <h4>Our Products</h4>
                            <li>Toys</li>
                            <li>Feeders</li>
                            <li>Utensils</li>
                            <li>Grooming tools</li>
                            <li>and lot more...🐱</li>
                        </ul>
                    </div>
                    <a routerLink="/store" class="btn btn-primary btn-lg">Shop Now</a>
                </div>
            </div>
        </div>
    </section>
</div>