<section class="hero">
    <div class="container py-2">
        <div class="row text-light">
            <div class="col-lg-6">
                <img src="../../../assets/hero.png" alt="Pet Shop" class="img-fluid rounded-5" role="img"
                    aria-label="Pet Shop">
            </div>
            <div class="col-lg-6">
                <h1 class="text-center mb-4">Welcome to Pet Villa</h1>
                <div class="text-center mb-4">
                    <div class="card shadow" style="background: linear-gradient(90deg, hsla(212, 35%, 58%, 1) 0%, hsla(218, 32%, 80%, 1) 100%);">
                        <div class="card-body text-light">
                            <p class="fs-5">Looking for a furry friend? Or searching for pet goodies?</p>
                            <div class="card-text fs-4">We are your one-stop solution.</div>
                        </div>
                    </div>
                    <p class="fs-3 fw-bold text-uppercase text-primary mb-0"></p>
                </div>
                <div class="row pb-4">
                    <div class="col-lg-8">
                        <div class="card tertiary-bg border-0 shadow">
                            <div class="card-body">
                                <div class="card-text text-white">At Pet Villa, we offer a wide range of products and services to
                                    cater to all your
                                    pet's needs. Whether you're looking for premium pet food, toys, grooming supplies,
                                    or even
                                    veterinary care, we've got you covered.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end py-1">
                    <div class="col-lg-8">
                        <div class="card bg-primary border-0 shadow">
                            <div class="card-body">
                                <div class="card-text text-white"><span class="fs-1">Plus</span>, we have an adorable selection of
                                    pets looking for their forever homes, including dogs, cats, birds, and small
                                    animals. Our team of dedicated pet
                                    enthusiasts is here to help you find the perfect companion and provide the best care
                                    for all your furry friends.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
